<!DOCTYPE html>
<title>デバッグ画面</title>

<h1>ユーザ追加</h1>
<form action='/add_user' method='get'>
Twitterアカウント:<input type='text' id='id' name='id'/>

</form>

<h1>[% IF id %]ログアウト[% ELSE %]ログイン[% END %]</h1>
[% IF id %]<a href='/logout'>ログアウト</a>
[% ELSE %]
<form action='/login' method='get'>
Twitterアカウント:<input type='text' id='id' name='id'/>
<input type='submit' value='ログイン'/>
</form>
[% END %]

<h1>アカウント情報</h1>
<ul>
<li>Twitterアカウント: @[% id %]
<li>所属クラス       : [% class %]
<!-- <li>クラスメイト一覧 : -->
<!--   <ul> -->
<!--     <li>@test_user1 -->
<!--     <li>@test_user2 -->
<!--     <li>@test_user3 -->
<!--   </ul> -->
<!-- </li> -->
</ul>
[% IF id %]<a href='/drop'>クラスから抜ける</a>[% END %]

<h1>登録情報</h1>
<table>
<tr><th>id</th><th>class</th><th>-</th></tr>
[% FOR u IN users%]
<tr>
  <th>[% u.user_name %]</th>
  <th>[% IF u.class %][% u.class %][% ELSE %]-[%END%]</th>
  <th><a href="/follow?id=[% u.user_name %]&class=[% u.class %]">接触する</a></th>
</tr>

[% END %]
</table>

<!--
<h2>ステータスのjson</h2>
<pre>
cli -> server /status?id=twitterid&lat=135&lng=35
{
'class':'hoge',
'classmate' : ['foo', 'bar'],
'new_classmate' :['bar'],
'del_classmate' :['buzz'],
'timeline' : {
asdgoqejrgoajer
}
}  
</pre>

<h1>function get_near_user()</h1>
<p>デバッグ用で近いユーザ取得, 本来はステータス取得時にクラスに入ったりする</p>
<form action='/status' method='get'>
lat:<input type='text' name='lat' id='lat' value='135'/>
lng:<input type='text' name='lng' id='lng' value='35'/>
<input type='submit' value='近いユーザ取得'/>
</form>

<h1>function getout_class()</h1>
<a href='/getout?id=twitterid'>クラスから抜ける</a>
-->
